<!DOCTYPE html>
<html>
<head>
  <title>Savethylife</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>
	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>	
	<script type="text/javascript">
	
		var pusher = new Pusher('<%= Pusher.key %>'); 
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/c/video.js"></script>
	<meta name="generator" content="HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org">
  <link rel="image_src" href="http://d4.yimg.com/sr/video/thm-300x300/8f9726a7-2f52-37bc-90d4-4f7b01e0a8da">
  <link rel="stylesheet" href="http://l.yimg.com/pv/static/lib/yvs_card_201210050523.css" type="text/css">
  <link id="yui_3_4_1_2_1351541583312_2304" type="text/css" rel="stylesheet" href="http://l.yimg.com/rx/builds/3.5.3.8486/assets/videoplayer.css" charset="utf-8">
</head>
<body id = "page1">
<%= yield %>

</body>
</html>
