<!DOCTYPE html>
<html>
<head>
  <title>Savethylife</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>
	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>	
	<script type="text/javascript">
	
		var pusher = new Pusher('<%= Pusher.key %>'); 
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/c/video.js"></script>
</head>
<body id = "page1">
<%= yield %>

</body>
</html>
